/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'MyFont';
    src: url('../assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
      url('../assets/fonts/roboto-regular-webfont.woff') format('woff');
}

#window {
  display: grid;
  grid-template-columns: minmax(250px, 20vw) 80vw;
}

.active {
  background: rgba(0, 0, 0, .5);
  color: white;
}

ul,
ol {
  list-style: none;
}

body{
  /* background-color: white; */
  /* background: url(../assets/images/bg.jpg); */
  background: linear-gradient(to right, #3081D0, #FFF5C2, #6DB9EF);
  background-size: cover;
  font-family: 'MyFont';
}